<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Privacy - Camera Usage Description  </key>
	<string>Dgtera POS Pro requires permission for use camera for scan barcode reader</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>POS Pro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://gofekra.com</key>
			<string></string>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Dgtera POS requires permission for use bluetooth for scanbar code reader</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Dgtera POS Pro requires permission for use bluetooth for scanbar code reader</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_hws-kb._tcp</string>
		<string>_hws-kb._udp</string>
		<string>_MWLocalNetworking._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Dgtera POS Pro requires permission for use camera for scan barcode reader</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Dgtera POS Pro needs to use your phone's data to discover devices nearby</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Application requires user’s location for track the location of food trucks .</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Application requires user’s location for track the location of food trucks .</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application requires user’s location for track the location of food trucks .</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Alexandria-Regular.ttf</string>
		<string>Alexandria-Bold.ttf</string>
		<string>Alexandria-Medium.ttf</string>
		<string>saudi_riyal.ttf</string>
		<string>OpenSans-Bold</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Font Awesome 5 Brands-Regular-400.otf</string>
		<string>Font Awesome 5 Free-Regular-400.otf</string>
		<string>Font Awesome 5 Free-Solid-900.otf</string>
		<string>Changa-Bold.ttf</string>
		<string>Changa-ExtraBold.ttf</string>
		<string>Changa-ExtraLight.ttf</string>
		<string>Changa-Light.ttf</string>
		<string>Changa-Medium.ttf</string>
		<string>Changa-Regular.ttf</string>
		<string>Changa-SemiBold.ttf</string>
		<string>cairo-Black.ttf</string>
		<string>cairo-Bold.ttf</string>
		<string>cairo-Extralight.ttf</string>
		<string>cairo-Light.ttf</string>
		<string>cairo-Regular.ttf</string>
		<string>cairo-Semibold.ttf</string>
		<string>MarkaziText-Bold.ttf</string>
		<string>MarkaziText-Medium.ttf</string>
		<string>MarkaziText-Regular.ttf</string>
		<string>MarkaziText-SemiBold.ttf</string>
		<string>Almarai-Regular.ttf</string>
		<string>Almarai-Bold.ttf</string>
		<string>Tajawal-Black.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-ExtraBold.ttf</string>
		<string>Tajawal-ExtraLight.ttf</string>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>Tajawal-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.epson.escpos</string>
		<string>com.socketmobile.chs</string>
		<string>jp.star-m.starpro</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch-appBuild</key>
	<string>translate-362</string>
</dict>
</plist>
